*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
 
 body{
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   font-family: 'Roboto',sans-serif;
   overflow-x: hidden;
   padding-bottom: 20000px;
 }
 .header{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98.5vw;
  height: 10vh;
  cursor: pointer;
  box-shadow:  1px 2px 3px rgba(0, 0, 0, 0.6);
  z-index: 1;
 }
 .left-header{
  display: flex;
  align-items: center;
  gap: 30px;
 }
 .left-header img{
  height: 30px;
 }
 .left-header .menu-icon-image{
  height: 20px;
  position: relative;
  left: 10px;
 }
 .middle-header{
  display: flex;
  align-items: center;
 }
 .middle-header input{
  height: 40px;
  width: 28vw;
  border-radius: 18px;
  border: 1px solid grey;
 }
 .middle-header input::placeholder{
  padding: 0px 0px 0px 20px;
 }
 .middle-header input:focus{
  outline: none;
  /* padding: 0px 0px 0px 20px; */
  }
 .middle-header .search-image{
  position: relative;
  top: 5px;
  right: 35px;
 }
 .middle-header .search-box ::placeholder{
   position: relative;
   left: -20px;
 }
 .middle-header .search-box input{
  outline: 0;
  padding-left: 20px;
 }
 .middle-header img{
  height: 20px;
 }
 .middle-header .voice-search-image{
  height: 25px;
 }
 .right-header{
  display: flex;
  gap: 20px;
  align-items: center;
 }
 .right-header img{
  height: 25px;
 }
 .right-header .jack-image-class{
  border-radius: 18px;
 }