.main-section{
  display: flex;
  position: relative;
  top: 50px;
  cursor: pointer;
}
.left-sidebar{
  position: fixed;
  margin-top: 20px;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15px;
  gap: 25px;
  
}
.top-left-sidebar{
  display: flex;
  flex-direction: column;
  height: 25%;
  gap: 15px;
  border-bottom: 1px solid black;
  width: 130px;
}
.top-left-sidebar img{
  height: 20px;
  width: 20px;
}
.top-left-sidebar div{
  display: flex;
  align-items: center;
  font-size: 13px;
  gap: 10px;
  cursor: pointer;
}
.bottom-left-sidebar{
  display: flex;
  flex-direction: column;
  height: 90%;
  gap: 10px;

}
.bottom-left-sidebar .image-name{
  position: relative;
  left: -12px;
}
.top-left-sidebar-show-more{
  margin-bottom: 10px;
}
.bottom-left-sidebar{
  position: relative;
  top: -7px;
}
.bottom-left-sidebar div{
  display: flex;
  align-items: center;
  gap: 20px;
  }
.bottom-left-sidebar span{
  font-size: 13px;
  }
  .subscribed-button{
    font-weight: bold;
    color: grey;
  }
.bottom-left-sidebar img{
  height: 20px;
  width: 20px;
  border-radius: 18px;
}

