.main-section{
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: relative;
  top: 70px;
}
.left-sidebar{
  position: relative;
  left: 10px;
}
.left-top-sidebar{
  border-bottom: 1px solid black;
  width: 10vw;
}
.left-top-sidebar div{
  width: 10vw;
  height: 6vh;
  display: flex;
  align-items: center;
 
}

.left-sidebar-show-more{
  margin-bottom: 15px;
}
.left-top-sidebar img{
  width: 20px;
}

.left-sidebar-home,
.left-sidebar-explore,
.left-sidebar-subscription,
.left-sidebar-library,
.left-sidebar-history,
.left-sidebar-cast,
.left-sidebar-playlist,
.left-sidebar-messages,
.left-sidebar-show-more{
  display: flex;
  gap: 10px;
}

.home-title,
.explore-title,
.subscription-title,
.library-title,
.history-title,
.cast-video-title,
.playlist-title,
.messages-title,
.show-more-title{
  color: grey;
  font-size: 16px;
}


.left-bottom-sidebar img{
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.left-bottom-sidebar{
  position: relative;
  top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.jack-section,
.simon-section,
.tom-section,
.megan-section,
.cameron-section{
  display: flex;
  align-items: center;
  gap: 10px;
}

.subscribed-title{
  font-weight: bold;
  color: grey;
  font-size: 13px;
}

.small-sidebar span{
  display: none;
}

.small-sidebar .subscribed-title{
  display: none;
}

.small-sidebar .left-top-sidebar{
  border-bottom: 1px solid black;
  width: 3vw;
}

.large-sidebar .right-top-sidebar img{
  width: 95vw;
}

.large-sidebar .right-bottom-sidebar-thumbnail-1-image img{
  height: 155px;
}
