.thumbnail-1-information-image{
  display: flex;
  gap: 10px;
  margin: 10px 0px 10px 0px;
  line-height: 20px;
}
.thumbnail-1-information-image img{
  height: 30px;
  width: 30px;
  border-radius: 15px;
}
.thumbnail-1-information{
  width: 79%;
}
.thumbnail-1-information h3{
  font-size: 13px;
}
.thumbnail-1-information div{
  font-size: 12px;
}