.right-bottom-sidebar-thumbnail-1{
  position: relative;
  left: 30px;
}
.right-bottom-sidebar-thumbnail-1-image img{
  height: 140px;
}
.right-bottom-sidebar-thumbnail-1-information-image{
  display: flex;
  gap: 10px;
  position: relative;
  top: 5px;
}
.right-bottom-sidebar-thumbnail-1-information-image img{
  height: 35px;
  width: 35px;
  border-radius: 17px;
}
.right-bottom-sidebar-thumbnail-1-information{
  width: 200px;
  line-height: 1.6;
}
.right-bottom-sidebar-thumbnail-1-information h3{
  font-size: 15px;
}
.right-bottom-sidebar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
}

  