.main-section{
  display: flex;
  cursor: pointer;
}
.left-main-section{
  margin-top: 69px;
}
.left-main-section video{
  width: 65vw;
  position: relative;
  left: 4px;
}
.left-main-section a,
.left-main-section h3{
  position: relative;
  top: 80px;
  left: 10px;
  text-decoration: none;
}
.left-main-section .video-tag{
  line-height: 1.6;
}
.left-main-section .video-tag-views{
  position: relative;
  top: 10px;
}


